$clouds: #ecf0f1;
$light-clouds: #fff;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$amethyst: #9b59b6;

body{
  background: $light-clouds;
}

.navbar-brand{
  font-weight: bold;
  letter-spacing: 1.5px;
}

.past-banner{
  background: $wet-asphalt;
}

#overlay,#headlines, .btn{
  position: absolute;
}
  
#main-panel{
  width: 100%;
  height: 800px;
  background: url("/assets/sites/background.jpeg") no-repeat;
  background-size: cover;
  margin-top: -25px; 
  z-index: 1;
}

#overlay{ 
  width: 100%;
  height: 800px;
  background: $wet-asphalt; 
  opacity: 0.70;
  z-index: 2;
}

#headlines{
  width: 100%;
  height: 800px;
  z-index: 3;
  #title, #slogan{
    width: 100%;
    color: $light-clouds;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    letter-spacing: 1.5px;
  }
  #title{
    font-weight: bold;
    font-size: 40px;
  }
  #slogan{
    font-size: 20px;
  }
}

#blog, #who-am-i, #contact-me{
  height: 50px;
  width: 100%;
}
#blog-content{
  position:relative;
  width: 100%;
  height: 750px;
}

#contact-me-content{
  width: 100%;
  height: 550px;
  color: $wisteria;
}

#who-am-i-content{
  background: $clouds;
  width: 100%;
  height: 700px;
  h1{
    color: $wisteria;
  }
  img{
    width: auto;
    max-height: 100%;
    width: auto;
    height: auto;
    float: left;
  }
  #bio{
    float: left;
    h1{
      text-align: center;
    }
  }
}

footer{
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: $clouds;
  text-align: center;
  vertical-align: middle;
  p{
    margin: 0px;
  }
}
