@import 'colors.scss';

body{
  background: $light-clouds;
}

.navbar-brand{
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 5px 0 5px 10px;
  img{
    height: 100%;
  }
}

.past-banner{
  background: $wisteria;
  opacity: 0.80;
}

#overlay, #headlines, #more-about-me{
  position: absolute;
}
  
#main-panel{
  width: 100%;
  height: 800px;
  background: url("/assets/sites/background.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -25px; 
  z-index: 1;

}

#overlay{ 
  width: 100%;
  height: 800px;
  background: $seance; 
  opacity: 0.30;
  z-index: 2;
}

#headlines{
  width: 100%;
  height: 400px;
  z-index: 3;
  #title, #slogan{
    width: 100%;
    color: $light-clouds;
    text-align: center;
    position: relative;
    top: 85%;
    transform: translateY(-40%);
    letter-spacing: 1.5px;
  }
  #title{
    font-weight: bold;
    font-size: 40px;
  }
  #slogan{
    font-size: 20px;
    margin-top: -15px;
  }
}

#more-about-me{
  height: 50px;
  width: 200px;
  border: 3px solid $studio;
  color: #fff;
  padding: 13px;
  text-align: center;
  letter-spacing: 1.5px;
  z-index: 5;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  margin-top: 450px;
  &:hover{
    border: 3px solid $light-wisteria;
    background-color: $wisteria;
    text-decoration: none;
  }
  &:hover, &:active{
    color: $pillow-lime;
    text-decoration: none;
  }
}

#blog, #who-am-i, #contact-me{
  height: 50px;
  width: 100%;
}
#blog-content{
  position:relative;
  width: 100%;
  height: 750px;
}

#contact-me-content{
  width: 100%;
  height: 550px;
  h1{
      padding-left: 20px;
      color: $pillow-lime;;
  }
}

#who-am-i-content{
  background: $clouds;
  width: 100%;
  height: 700px;
  h1{
    color: $pillow-lime;
  }
  img{
    width: auto;
    max-height: 100%;
    width: auto;
    height: auto;
    float: left;
  }
  #bio{
    float: left;
    h1{
      padding-left: 20px;
    }
  }
}

footer{
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: $clouds;
  text-align: center;
  vertical-align: middle;
  p{
    margin: 0px;
  }
}
