<div id="main-panel">
  <div id="overlay"></div>
  <div id="headlines">
    <p id="title">ALEXANDRA CHEN</p>
    <p id="slogan">Entrepreneur & Hustler</p>
  </div>
  <a id="more-about-me" href="#who-am-i">
      <%= t("more-about-me") %>
  </a>
</div>

<div id="blog"></div>
<div id="blog-content">
<img src="/assets/sites/ac_white.png">
</div>

<div id="who-am-i"></div>
<div id="who-am-i-content">
  <img src="/assets/sites/bio.jpg">
  <div id="bio">
  	<h1><%= t("who_am_i") %></h1>
  </div>
</div>

<div id="contact-me"></div>

<div id="contact-me-content">
  <h1><%= t("contact_me") %></h1>
</div>

<footer>
<!-- Link this to web dev tab -->
	<p> Alexandra Chen | 2016 </p>
</footer>