<div id="main-panel">
  <h1>Entrepreneur & Hustler</h1>
</div>

<div id="blog"></div>
<div id="blog-content"></div>

<div id="who-am-i"></div>
<div id="who-am-i-content">
  <img src="/assets/sites/bio.jpg">
  <div id="bio">
  	<h1>¿Quién soy?</h1>
  </div>
</div>

<div id="contact-me"></div>

<div id="contact-me-content">
  <h1>Contáctame</h1>
</div>

<footer>
<!-- Link this to web dev tab -->
	<p> Alexandra Chen | 2016 </p>
</footer>