<div class="main-panel">
  <h1>Entrepreneur & Hustler</h1>
</div>
<div class="blog">
  <h1>Blog goes here</h1>
</div>
<div class="who-am-i">
  <h1>¿Quién soy?</h1>
</div>
<div class="contact-me">
  <h1>Contáctame</h1>
</div>

<footer>
</footer>