<div id="main-panel">
  <h1>Entrepreneur & Hustler</h1>
</div>
<div id="blog">
	<iframe id="wordpress-blog" src="https://alexandrachen.wordpress.com" frameborder="0" allowfullscreen></iframe>
</div>
<div id="who-am-i">
  <img src="/assets/sites/bio.jpg">
  <div id="bio">
  	<h1>¿Quién soy?</h1>
  </div>
</div>
<div id="contact-me">
  <h1>Contáctame</h1>
</div>

<footer>
</footer>